/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2017, 12:48:27
    Author     : user
*/

@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

*{
    margin: 0px;
    padding: 0px;
}

header section article aside footer li div{
    display: block;    
}

body{
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     min-width: 1160px;
}

header{
    background: rgb(1, 105, 178) none repeat scroll 0 0;
    border-bottom: 1px solid  #52AFE0;
    height: 70px;
    /*top: 0px;
    left: 0px;   
    position: fixed;*/
    text-align: center;   
    width: 100%;
}

#centrarHeader{
    width: 70%;
    margin: 0px auto;

}

#logo{
    width: 50%;
    float: left;
    text-align: left;
    height: 70px;
}

#busqueda{
    width: 50%;
    float: right;     
    height: 70px;  
}

#searchbox{      
    height: 60px; 
    padding-top: 10px;   
    text-align: right;  
}

#search {   
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: medium none;
    height: 20px;
    padding: 12px 32px 14px 10px;
    width: 300px;   
    font-size: 16px;   
    color: #FFF;
}

#submit
{       
    /*background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;   */
    background: url("../images/135-search.png") no-repeat right center;
    height: 48px;    
    width: 30px;  
    border: medium none;
    padding: 12px 32px 14px 10px;
    float: right;     
}

nav{
    background: rgb(1, 105, 178) none repeat scroll 0 0;
    border-bottom: 3px solid #FFF;
    height: 40px;
}

#centrarNav{
    width:70%;
    margin: 0px auto;
}

ul{   
    list-style:none;       
}

#alinearNav li a{
    background: rgb(1, 105, 178) none repeat scroll 0 0;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    color: #FFF;
    height: 30px;     
    text-align: left;
}

#alinearNav > li{
    float: left;
}

#alinearNav li a:hover{
    background: #004d9e none repeat scroll 0 0;
    text-decoration: underline;
    text-shadow:5px 5px 10px #FFF;
}

#alinearNav li ul{
    display: none;
    position: absolute;
}

#alinearNav li:hover ul{
    display: block;
}

#info{
    padding-top: 10px;
    margin: auto;
    float: right;   
}

#info a{  
    color: #FFF;
    font-size: 16px;    
    text-decoration: none;
}

#contenido{
    width: 70%;   
    margin: 10px auto;
}

section{
    margin: 15px auto;   
    float: left;
    text-align: center;
}

article{
    margin: 0px auto;
    float: left;
    width: 235px;
    height: 290px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 3px 13px 2px  rgba(168,168,168,0.5);
}

.articleCabecera{
    height: 240px;
}

.articleImg{    
    height: 110px;
    width : 100%;
}

.divBorder{
    border-top: 1px solid  #52AFE0;
}

.curso{
    display: block;
    margin: 10px 20px 30px 20px;   
    background-color: #83B1C7;   
    color: #fff;
    text-align: center;   
    padding: 8px 0;
}

footer{
    clear: both;
    display: block;
    height: 250px;   
    background: rgb(1, 105, 178) none repeat scroll 0 0;    
    text-align: center;
}

#centrarFooter{
    margin: 15px auto;
    width: 80%;
}

#centrarFooter ul{   
    display: block;
    float: left;
    margin: 15px 15px;    
    width: 20%;
    list-style: none;
}

#centrarFooter ul li span{   
    color: #FFF;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

#centrarFooter ul li a{   
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 10px;
}