/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/04/2017, 21:39:15
    Author     : user
*/

*{
    margin: 0px;
    padding: 0px;
}

header body div nav section article footer{
    display: block;
}

#cabecera{
    height: 70px;    
    box-shadow: 0 3px 13px 2px  rgba(168,168,168,0.5);
    background-color: #324258
}

#izquierda{
    display: block;
    margin-top: 25px;
    margin-left: 50px;
    float: left;
}

#derecha{
    display: block;
    margin-top: 25px;
    margin-right: 50px;
    float: right;
}

#contenido{
    width: 80%;
    margin: 15px auto;   
    color: blue;
    text-align:  center;    
}

#parrafo{
    margin: 20px auto;
    padding: 5px auto;
    display: block;
    font-size:18px;
}

.curso{
    display: block;
    margin: 10px 20px 30px 20px;
    font: 700 15px 'Titillium Web',sans-serif;
    background-color:   rgb(62, 87, 118);   
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0;
}

section{
    /*float: left;*/
    display: inline-block;
}

article{
    float: left;
    height: 330px;
    width: 315px;
    border: 1px;
    margin: 5px;
    /*background-color:  darkgray;*/
    box-shadow: 0 3px 13px 2px  rgba(168,168,168,0.5);
}

footer{
    clear: both;
    height: 80px;
    background: red;
}


